@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
a{
    font-family: 'Patrick Hand', cursive;
}
/* .card{
    box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff;
} */
/* .card-header-primary{
	background: #21618C; 
	box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff;
    color: white;
} */
.card-header-a{
	background: #1F618D; 
}
.btn-a{
    background: #1F618D; 
}
.card-header-d{
	background: #17202A; 
}
.navbar-d{
    background: #17202A; 
}
.table-a{
    background: #1F618D; 
}
.fondo-a{
    background: #17202A;
}
.btn-b{
    background: #17202A; 
}
.btn-c{
    background: #A93226; 
}
.text-a{
    background-color: #17202A;
    color:#1F618D
}




