@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
a{
    font-family: 'Patrick Hand', cursive;
}
.card{
    box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff;
}
.card-header-primary{
	background: #21618C; 
	box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff;
    color: white;
}
.card-header-secondary{
	background: #0E6655; 
	/* box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff; */
    /* color: white; */
}
.card-header-a{
	background: #1F618D; 
	/* box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff; */
    /* color: white; */
}
.btn-a{
    background: #1F618D; 
}
.card-header-b{
	background: #3498DB; 
	/* box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff; */
    /* color: white; */
}
.btn-b{
    background: #3498DB; 
} 
.card-header-c{
	background: #a04000; 
	/* box-shadow:  6px 6px 12px #4d4c4c,
             -6px -6px 12px #ffffff; */
    /* color: white; */
}
.btn-c{
    background: #a04000; 
}